hr{
    border-radius: 1rem;
    width: 8rem;
    background-color:#4ce3f7;
}

img{
    position: relative;
}
.service-text{
  border: 2px solid gray;
  height: 20rem;
  
}
.service-text p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: whitesmoke;
}
.icons{
    font-size: 2rem;
    color: plum;
    margin-left: 10rem;
    margin-top:2rem;
}
.service-header{
    top:4rem;
    margin-left: 6rem;
    margin-bottom: 5rem;
    font-weight: 700;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

