.img-top{
  width:190rem;
  top:1rem;
  left: 50rem;
}
.name{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-style: italic;
}

.line{
  color: plum;
  width: 23rem;
  font-size: 5rem;
}

